# CSCI2000U - Scientific Data Analysis
# Final Project: **NBA MVP Predictor**

## **Project Group 16**
* **Hasan Chakaroun** - 100788546
* **Mohammad** - 100755461
* **Preet Panchal** - 100707094
* **Eihab Syed** - 100707448

### **Dataset Selected:** ###
- **Name:** NBA Players Data - all_seasons.csv
&nbsp;
- **Source:** https://www.kaggle.com/justinas/nba-players-data
&nbsp;
- **Reference:** Cirtautas, J. (2021, August 2). NBA players. Kaggle. Retrieved November 26, 2021, from https://www.kaggle.com/justinas/nba-players-data. 
&nbsp;
- **Creator:** Justinas Cirtautas, Data Scientist

## **INTRODUCTION**

## **DESCRIPTION OF DATASET**

## **ANALYSIS OF DATASET**

In [22]:
# importing used libraries
import csv
import re
import pandas as pd
from functools import reduce
import numpy as np
import calendar
import string
import matplotlib.pyplot as plt
from datetime import datetime as dt

# importing seaborn
import sys
!{sys.executable} -m pip install seaborn
import seaborn as sns


# this aux function reads the CSV file and returns the data in a Python dictionary
def get_data_csv():
    collection = []
    with open('all_seasons.csv', 'r') as f:
        for line in csv.DictReader(f):
            collection.append(line)
        return collection
        
# the data    
data = get_data_csv()
# the dataframe
df = pd.DataFrame(data) 
df

Requirement already satisfied: seaborn in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (0.11.2)
Requirement already satisfied: scipy>=1.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from seaborn) (1.7.1)
Requirement already satisfied: numpy>=1.15 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from seaborn) (1.21.2)
Requirement already satisfied: matplotlib>=2.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from seaborn) (3.5.0)
Requirement already satisfied: pandas>=0.23 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from seaborn) (1.3.4)
Requirement already satisfied: pyparsing>=2.2.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (3.0.6)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: setuptools-scm>=4 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (6.3.2)
Requirement already satisfied: pillow>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (4.28.1)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas>=0.23->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Requirement already satisfied: tomli>=1.0.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from setuptools-scm>=4->matplotlib>=2.2->seaborn) (1.2.2)
Requirement already satisfied: setuptools in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from setuptools-scm>=4->matplotlib>=2.2->seaborn) (56.0.0)

### **Quality of Dataset:**
-

### **Data Cleaning:**

In [23]:
# removing additional placeholder/column for index
df.drop(columns=[''], inplace=True)
df[:5]

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,Travis Knight,LAL,22.0,213.36,106.59411999999999,Connecticut,USA,1996,1,29,...,4.8,4.5,0.5,6.2,0.127,0.182,0.142,0.536,0.052000000000000005,1996-97
1,Matt Fish,MIA,27.0,210.82,106.59411999999999,North Carolina-Wilmington,USA,1992,2,50,...,0.3,0.8,0.0,-15.1,0.14300000000000002,0.267,0.265,0.33299999999999996,0.0,1996-97
2,Matt Bullard,HOU,30.0,208.28,106.59411999999999,Iowa,USA,Undrafted,Undrafted,Undrafted,...,4.5,1.6,0.9,0.9,0.016,0.115,0.151,0.535,0.099,1996-97
3,Marty Conlon,BOS,29.0,210.82,111.13004,Providence,USA,Undrafted,Undrafted,Undrafted,...,7.8,4.4,1.4,-9.0,0.083,0.152,0.16699999999999998,0.542,0.10099999999999999,1996-97
4,Martin Muursepp,DAL,22.0,205.74,106.59411999999999,None,USA,1996,1,25,...,3.7,1.6,0.5,-14.5,0.109,0.11800000000000001,0.233,0.48200000000000004,0.114,1996-97

### **Code & Analysis of Basic Characteristics of Dataset:**

In [24]:
# displaying the total number of data using string and len inbuilt python function
print("There are " + str(len(data)) + " data records in all_seasons.csv. ")

There are 11700 data records in all_seasons.csv.

In [25]:
print("Q2) Here are the top 5 data records: ")
print(data[:5]) # using indexing to display the first 5 records

Q2) Here are the top 5 data records:
[{'': '0', 'player_name': 'Travis Knight', 'team_abbreviation': 'LAL', 'age': '22.0', 'player_height': '213.36', 'player_weight': '106.59411999999999', 'college': 'Connecticut', 'country': 'USA', 'draft_year': '1996', 'draft_round': '1', 'draft_number': '29', 'gp': '71', 'pts': '4.8', 'reb': '4.5', 'ast': '0.5', 'net_rating': '6.2', 'oreb_pct': '0.127', 'dreb_pct': '0.182', 'usg_pct': '0.142', 'ts_pct': '0.536', 'ast_pct': '0.052000000000000005', 'season': '1996-97'}, {'': '1', 'player_name': 'Matt Fish', 'team_abbreviation': 'MIA', 'age': '27.0', 'player_height': '210.82', 'player_weight': '106.59411999999999', 'college': 'North Carolina-Wilmington', 'country': 'USA', 'draft_year': '1992', 'draft_round': '2', 'draft_number': '50', 'gp': '6', 'pts': '0.3', 'reb': '0.8', 'ast': '0.0', 'net_rating': '-15.1', 'oreb_pct': '0.14300000000000002', 'dreb_pct': '0.267', 'usg_pct': '0.265', 'ts_pct': '0.33299999999999996', 'ast_pct': '0.0', 'season': '1996-97'}, {'': '2', 'player_name': 'Matt Bullard', 'team_abbreviation': 'HOU', 'age': '30.0', 'player_height': '208.28', 'player_weight': '106.59411999999999', 'college': 'Iowa', 'country': 'USA', 'draft_year': 'Undrafted', 'draft_round': 'Undrafted', 'draft_number': 'Undrafted', 'gp': '71', 'pts': '4.5', 'reb': '1.6', 'ast': '0.9', 'net_rating': '0.9', 'oreb_pct': '0.016', 'dreb_pct': '0.115', 'usg_pct': '0.151', 'ts_pct': '0.535', 'ast_pct': '0.099', 'season': '1996-97'}, {'': '3', 'player_name': 'Marty Conlon', 'team_abbreviation': 'BOS', 'age': '29.0', 'player_height': '210.82', 'player_weight': '111.13004', 'college': 'Providence', 'country': 'USA', 'draft_year': 'Undrafted', 'draft_round': 'Undrafted', 'draft_number': 'Undrafted', 'gp': '74', 'pts': '7.8', 'reb': '4.4', 'ast': '1.4', 'net_rating': '-9.0', 'oreb_pct': '0.083', 'dreb_pct': '0.152', 'usg_pct': '0.16699999999999998', 'ts_pct': '0.542', 'ast_pct': '0.10099999999999999', 'season': '1996-97'}, {'': '4', 'player_name': 'Martin Muursepp', 'team_abbreviation': 'DAL', 'age': '22.0', 'player_height': '205.74', 'player_weight': '106.59411999999999', 'college': 'None', 'country': 'USA', 'draft_year': '1996', 'draft_round': '1', 'draft_number': '25', 'gp': '42', 'pts': '3.7', 'reb': '1.6', 'ast': '0.5', 'net_rating': '-14.5', 'oreb_pct': '0.109', 'dreb_pct': '0.11800000000000001', 'usg_pct': '0.233', 'ts_pct': '0.48200000000000004', 'ast_pct': '0.114', 'season': '1996-97'}]

In [41]:
# creating a set with all the player names from data to only include each unique team with no repeats
unique_name = {player['player_name'] for player in data}
# then displaying the length of unique_name as a string
print("There are " + str(len(unique_name)) + " unique NBA player names in the dataset. Therefore, there are " + str(len(unique_name)) + " players that played in the National Basketball Association since 1996.\n")
print("Here are the first 100 player names from the unique_name dict. (List was too long to print completely): ")
print(list(unique_name)[:50])

There are 2333 unique NBA player names in the dataset. Therefore, there are 2333 players that played in the National Basketball Association since 1996.

Here are the first 100 player names from the unique_name dict. (List was too long to print completely):
['J.J. Barea', 'Ed Davis', 'Reggie Miller', 'Mike Muscala', 'Jordan Nwora', 'Andrew Harrison', 'Tim Legler', 'Tony Battie', 'Jamario Moon', 'Chandler Hutchison', 'Grant Williams', 'Davis Bertans', 'Allen Crabbe', 'Maurice Baker', 'Randell Jackson', 'Devin Ebanks', 'DeMar DeRozan', 'Brandon Goodwin', 'Arinze Onuaku', 'Phil Pressey', 'Malcolm Delaney', 'Mario Bennett', 'Cory Higgins', 'Craig Smith', 'Isaiah Joe', 'Jarrell Brantley', 'Francisco Elson', 'Sim Bhullar', 'Vernon Maxwell', 'Marcus Cousin', 'Tony Smith', 'Tyrell Terry', 'Rik Smits', 'Wayne Ellington', 'Jared Reiner', 'Elias Harris', 'DJ White', 'Jeff Hornacek', 'Kenneth Faried', 'Paul Davis', 'Yogi Ferrell', 'Dakota Mathias', 'Kadeem Allen', 'Eric Riley', 'Alex Abrines', 'Hersey Hawkins', 'Dewan Hernandez', 'Ben Wallace', 'Sean Higgins', 'Antonius Cleveland']

In [27]:
# creating a set with all the teams from data to only include each unique team with no repeats
unique_team = {team['team_abbreviation'] for team in data}
# then displaying the length of unique_team as a string
print("Not all team names in the dataset are unique. There are " + str(len(unique_team)) + " unique NBA teams in the dataset. Therefore, there are " + str(len(unique_team)) + " teams that take part in the National Basketball Association since 1996.")
print(unique_team)

Not all team names in the dataset are unique. There are 36 unique NBA teams in the dataset. Therefore, there are 36 teams that take part in the National Basketball Association since 1996.
{'WAS', 'MIN', 'NOK', 'SEA', 'UTA', 'OKC', 'ORL', 'SAC', 'PHX', 'MIA', 'TOR', 'POR', 'PHI', 'IND', 'VAN', 'CLE', 'MIL', 'DAL', 'BKN', 'DEN', 'NOP', 'SAS', 'NYK', 'MEM', 'NOH', 'ATL', 'BOS', 'LAL', 'CHH', 'GSW', 'NJN', 'CHI', 'CHA', 'LAC', 'HOU', 'DET'}

In [42]:
# creating a set with all the colleges from data to only include each unique college with no repeats
unique_college = {player['college'] for player in data}
# then displaying the length of unique_college as a string
print("Not all college names in the dataset are unique. There are " + str(len(unique_college)) + " unique colleges where the NBA players played before coming to the NBA in the dataset.\n")
print("Here are the first 100 colleges from the unique_college dict. (List was too long to print completely): ")
print(list(unique_college)[:50])

Not all college names in the dataset are unique. There are 336 unique colleges where the NBA players played before coming to the NBA in the dataset.

Here are the first 100 colleges from the unique_college dict. (List was too long to print completely):
['William & Mary', 'Wisconsin-Green Bay', 'Texas Christian', 'Seton Hall', "Saint Mary's (CA)", 'Florida', "St. Mary's (TX)", 'Northeast Mississippi Community College', 'Nebraska-Lincoln', 'North Carolina-Wilmington', 'Rice', 'Hampton', 'Massachusetts', 'Oregon State', 'Oral Roberts', 'St. Louis', 'Louisiana-Monroe', 'Radford', 'Illinois', 'Morehead State', 'American University', 'Florida Gulf Coast', 'San Diego State', 'Hartford', 'Virginia Tech', 'Yonsei (KOR)', 'Midwestern State', 'Louisana-Lafayette', 'Wichita State', 'Tennessee Tech', 'Villanova', 'Wyoming', 'Robert Morris (IL)', 'Harvard', 'Texas-Austin', 'California-Irvine', 'Valparaiso', 'Northern Illinois', 'Mercer', 'Creighton', 'Illinois State', 'Seward County Community College', 'Georgetown', 'Jacksonville', 'Augustana (SD)', 'Dayton', 'Cal State-San Bernardino', 'Yale', 'Kent State', 'Western Carolina']

In [29]:
# creating a set with all the countries from data to only include each unique country with no repeats
unique_country = {player['country'] for player in data}
# then displaying the length of unique_country as a string
print("Not all country names in the dataset are unique. There are " + str(len(unique_country)) + " unique countries that the NBA players originated from in the dataset.\n")
print(unique_country)

Not all country names in the dataset are unique. There are 79 unique countries that the NBA players originated from in the dataset.

{'Georgia', 'France', 'Guinea', 'Japan', 'Argentina', 'Saint Lucia', 'Switzerland', 'Puerto Rico', 'Slovenia', 'Poland', 'Ghana', 'Ukraine', 'Mali', 'Finland', 'Sweden', 'South Sudan', 'Italy', 'St. Vincent & Grenadines', 'Great Britain', 'Angola', 'Congo', 'Croatia', 'USA', 'Serbia', 'Republic of the Congo', 'Serbia and Montenegro', 'Russia', 'Jamaica', 'Dominican Republic', 'Germany', 'Panama', 'Trinidad and Tobago', 'Tunisia', 'Yugoslavia', 'Greece', 'United Kingdom', 'Latvia', 'Czech Republic', 'Spain', 'Israel', 'New Zealand', 'U.S. Virgin Islands', 'England', 'Senegal', 'Turkey', 'Egypt', 'Sudan (UK)', 'Sudan', 'Venezuela', 'China', 'Nigeria', 'Cameroon', 'Gabon', 'Uruguay', 'Tanzania', 'Bahamas', 'Brazil', 'Iran', 'South Korea', 'Australia', 'Netherlands', 'US Virgin Islands', 'DRC', 'Scotland', 'Democratic Republic of the Congo', 'Bosnia & Herzegovina', 'Austria', 'Mexico', 'Haiti', 'USSR', 'Belize', 'Montenegro', 'Ireland', 'Macedonia', 'Cabo Verde', 'Canada', 'Bosnia and Herzegovina', 'Lithuania', 'Bosnia'}

In [30]:
'''
Running the dataRangeFunc() by calling the 'reduce' function to display the range of years. 
'''

# created a reducer function to loop through all the numerical years of the data
def dataRangeFunc(state, player):
    # compute a list of all the years
    if state is None:
        state = {
        'min_year': player['season'].split('-')[0],
        'max_year': player['season'].split('-')[0]
        }
    # continually update the 'min_year' & 'max_year'
    else:
        state['min_year'] = min(state['min_year'], player['season'].split('-')[0])
        state['max_year'] = max(state['max_year'], player['season'].split('-')[0])

    return state

# run the reducer function and output 'min_year' and 'max_year' to display our range
print("Here is the dataset's range of years, in other words, the season range (oldest and newest): ")
reduce(dataRangeFunc, data, None)['min_year'] + " to " + reduce(dataRangeFunc, data, None)['max_year']

Here is the dataset's range of years, in other words, the season range (oldest and newest):

'1996 to 2020'

## **EXPLORATORY DATA ANALYSIS**

In [31]:
# 1) Calculate the percentage of players that were undrafted. 
#    * To see how many and what players were talented enough to directly sign with an NBA team instead of being drafted.

In [32]:
# 2) What is the average age of the players by season?

In [33]:
# 3) Find the top 5 colleges. 
#     * To see which colleges most players played for before coming to the NBA.

In [34]:
# 4) Find the top 5 countries NBA players are from. 
#     * To see what percentage of players from each unique country

In [35]:
# 5) All-Star player from each unique country? (All-Star player defined as pts: 25+, reb: 7+, ast: 7+).

In [36]:
# 6) Compare first-round, number-one player picks from each draft year.
#     * To find out whether there were any NBA busts from the draft.

In [37]:
# 7) Determine the position of each player (since it's not provided in the dataset). 
#     * To find the average height per position.

In [38]:
# 8) Does the player's weight affect their performance?

In [39]:
# 9) Who is the longest active player in the league?

In [40]:
# 10) Find the player with the most points, rebounds, and assists, respectively, of all-time.

## **POTENTIAL DATA SCIENCE**

## **CONCLUSION**

## **Description of Dataset:**

The chosen dataset contains over two decades of statistics about each player that has been a part of the NBA (National Basketball Association). It is comprised of many variables including player age, height, weight, college attended, country born and game box scores. There are 22 data attributes in total offering a great range for data analysis.

It was collected through the official NBA website and https://www.basketball-reference.com/ found via Kaggle from Justinas Cirtautas (https://www.kaggle.com/justinas/nba-players-data). This dataset represents the the details of each NBA player for each season from 1996 to 2021. 

### Here are the 22 attributes/columns in this dataset:

* index                - Player index / Row number
* player_name          - Name of player
* team_abbreviation    - Abbreviated name of the team the player played for
* age                  - Age of player
* player_height        - Height of the player (cm)
* player_weight        - Weight of the player (kg)
* college              - Name of the college player attended
* country              - Name of the country player was born in
* draft_year           - The year the player was drafted
* draft_round          - The draft round the player was picked
* draft_number         - The draft number at which the player was picked in his draft round
* gp                   - Games played throughout the season
* pts                  - Average number of points scored
* reb                  - Average number of rebounds grabbed
* ast                  - Average number of assists distributed
* net_rating           - Team’s point differential/100 possessions while player is on court
* oreb_pct             - % of available offensive rebounds the player grabbed on court
* dreb_pct             - % of available defensive rebounds the player grabbed on court
* usg_pct              - % of team plays used by the player while on court
* ts_pct               - Measure of player’s shooting efficiency
* ast_pct              - % of teammate field goals the player assisted on court
* season               - NBA season

## **Proposal & Motivation:**

### Why we chose this dataset?

As big fans of the NBA and the sport of basketball, we found this dataset very interesting. There is a lot of interesting information regarding all the NBA players over the years and we are excited to study research questions pertaining to all players in the league. Unlike other datasets, this one is actually a topic of interest for us and gives us the opportunity to both practice data analysis and learn more about the sport we love!

### Another dataset we considered:

Yes! We were originally going to use another NBA dataset (https://www.kaggle.com/nathanlauga/nba-games?select=games.csv). It also had some very insightful data, however, we felt that it was far more focused on the NBA team's performances, rather than the players. As a group, we were more interested to research the data of the players to visualize talent existent within the league since 1996.

## **Data Analysis Questions:**

### Here are a few tentative questions that we would like to study for this dataset: 

1) Calculate the percentage of players that were undrafted. 
    * To see how many and what players were talented enough to directly sign with an NBA team instead of being drafted.
2) What is the average age of the players by season?
3) Find the top 5 colleges. 
    * To see which colleges most players played for before coming to the NBA.
4) Find the top 5 countries NBA players are from. 
    * To see what percentage of players from each unique country
5) All-Star player from each unique country? (All-Star player defined as pts: 25+, reb: 7+, ast: 7+). 
6) Compare first-round, number-one player picks from each draft year.
    * To find out whether there were any NBA busts from the draft. 
7) Determine the position of each player (since it's not provided in the dataset). 
    * To find the average height per position. 
8) Does the player's weight affect their performance? 
9) Who is the longest active player in the league? 
10) Find the player with the most points, rebounds, and assists, respectively, of all-time. 

### Methods to Apply to Answer the above: 

To begin, we will utilize Python's in-built libraries extensively and use multiple functions such as, 'map', 'filter', and 'reduce'. We plan to primarily Numpy for the programming of most of the data as it is mostly comprised of numerical values. However, we expect to learn new things in the near future of this course, including Pandas and Mathplotlib. Both Pandas and Mathplotlib will help greatly to visualize and process the data in different aspects using graphs and charts. Furthermore, we will analyze the data using mathematical, statistical analysis, and attributes to complete conclusions to our questions of research.  

### Potential for Data Science Applications: 

There is great potential to apply our knowledge of data science and translate it to the data of NBA players. We can predict players' performance and development over their NBA career. In a real-life scenario, we can recommend colleges to those interested to join the NBA for their future. We can also simulate the players' projected growth (whether they will become an all-star) and work with the coaching staff to provide them with such information, so they can make the essential adjustments to players' training and development. Most importantly, we would be able to visualize the diversity of players within the NBA.